/* Barre de navigation */
.navbar {
  text-align: center;
  margin-bottom: 40px;
  margin-left: 250px; /* Espace pour la sidebar */
}

.navbar ul {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 20px;
}

.navbar ul li a {
  text-decoration: none;
  color: #333;
  font-size: 18px;
  padding: 10px 20px;
  transition: color 0.3s ease;
  border-radius: 5px;
}

.navbar ul li a:hover {
  color: #00bcd4;
  background-color: rgba(0, 188, 212, 0.1);
}

/* Sections */
.section {
  display: none; /* Les sections sont cachées par défaut */
  opacity: 0;
  transition: opacity 0.5s ease;
}

.section.active {
  display: block; /* La section active est visible */
  opacity: 1;
  transition: opacity 0.5s ease;
}

/* Sidebar */
.sidebar {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  width: 250px;
  background-color: #f5f5f5;
  padding: 20px;
  text-align: center;
  border-right: 2px solid #ddd;
}

.profile-pic {
  width: 150px;
  border-radius: 50%;
}

.title {
  font-size: 18px;
  margin-top: 10px;
}

.linkedin-link {
  display: block;
  margin-top: 20px;
  text-decoration: none;
  color: #0077b5;
}
